body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
    animation: name 1s ease-in-out;
  }
  
  @keyframes name {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .loginpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .form-container:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  }
  
  .heading {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    animation: buttonIn 0.5s ease-in-out;
  }
  
  @keyframes buttonIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  
  .button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  p {
    margin: 0;
  }
  
  .error-message {
    color: red;
    font-weight: bolder;
    font-size: 18px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
  }
  
  .checkbox .text {
    margin-left: 8px;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  .checkboxtext{
    color:black;
  }