.ResultMainContainer{
    height: 100vh;
    width: 100vw;
    background-color: rgb(82, 234, 234);
    padding:20px;
}
.result{
    text-align: center;
}
.ResultContainer{
    display: flex;
    
}
.ResultCardContainer{
    background-color: white;
    width: fit-content;
    padding:10px;
    border-radius:10px;
    margin: 10px;
}
